[submodule "navigator"]
	path = navigator
	url = https://github.com/enriquesomolinos/adblock-bypass-navigator.git
[submodule "backend"]
	path = backend
	url = https://github.com/enriquesomolinos/adblock-bypass-backend.git
[submodule "administration"]
	path = administration
	url = https://github.com/enriquesomolinos/adblock-bypass-administration.git
[submodule "proxy"]
	path = proxy
	url = https://github.com/enriquesomolinos/adblock-bypass-proxy.git
